@mixin background-img ($imgpath, $position: 0 0, $repeat: no-repeat, $size: initial) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
        size: $size;
    }
}

@mixin box-shadow () {
    -webkit-box-shadow: 0 0 15px 0 rgba(100,100,100,.75);
    -moz-box-shadow: 0 0 15px 0 rgba(100,100,100,.75);
    box-shadow: 0 0 15px 0 rgba(100,100,100,.75);	
}

@mixin circle ($bkgrndColor, $width: 70px, $height: 70px) {
	background-color: $bkgrndColor;
    width: $width;
    height: $height;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

@mixin right-arrow ($arrowColor: grey, $borderL: 14px, $borderT: 7px, $borderB: 7px) { 
	border-left: $borderL solid $arrowColor;
	border-top: $borderT solid transparent;
	border-bottom: $borderB solid transparent; 
	width: 0; 
	height: 0; 
	content: '';
	font-size: 0;
    position: relative;
}
