$accentColor: #008ba4;
$mainTextColor: #000000;
$phoneNumber: #54b8cd;
$links: #54b8cd;
$linkHover: $accentColor;
$introText: #ffffff;
$discountBubble: #e87b15;
$buttonColor: #37a23e;
$buttonBottomColor: #24875b;
$buttonHoverColor: #319038;
$buttonBottomHoverColor: #24632a;
$videoBorder: #efefef;
$asSeenHeading: #4c813d;
$footerLinks: #66666d;